@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.main-contaner {
    min-width: 100%;
}

.text-content h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 55px;
    line-height: 63px;
    text-align: center;
    letter-spacing: 2px;
}

.text-content {
    width: 550px;
    text-align: center;
    margin-top: auto;
}

.home-container {
    align-items: anchor-center;
    height: 556px;
    background-image: url("/back-portfolio.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 95%;
    position: relative;
}

.home-container img {
    margin-top: auto;
}

.text-content p {
    margin-top: 50px;
    color: #777B8A;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
}

.text-content span {
    color: #FD6931;
}

.elipse_1 {
    width: 25px;
    height: 25px;
    background: #3991EE;
    margin-top: 130px;
    margin-left: 311px;
}

.bg-elipse-left {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-elipse-right {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.elipse_2 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    margin-left: 489px;
}

.elipse_3 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    margin-top: 10px;
    margin-left: 351px;
}

.elipse_4 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    margin-top: 10px;
    margin-left: 197px;
}

.elipse_5 {
    width: 40px;
    height: 40px;
    background: #3991EE;
    margin-top: 50px;
    margin-left: 336px;
}

.elipse_9 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    margin-left: 384px;
}

.elipse_7 {
    width: 25px;
    height: 25px;
    background: #FD6931;
    margin-top: -10px;
    margin-left: 175px;
}

.elipse_8 {
    width: 15px;
    height: 15px;
    background: #FD6931;
    margin-top: 70px;
    z-index: 20;
    margin-left: 155px;
    position: relative;
}

.vector_1 {
    position: absolute;
    width: 1px;
    height: 92px;
    background: linear-gradient(344.49deg, #1A4CAB -3.4%, #FD6931 71.6%);
    transform: rotate(16deg);
    left: 175px;
    margin-top: -12px;
    z-index: 10;
}

.elipse_10 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    margin-left: auto;
    margin-top: 140px;
    margin-right: 520px;
}

.elipse_11 {
    width: 2px;
    height: 2px;
    background: #FFFFFF;
    margin-left: auto;
    margin-top: 4px;
    margin-right: 260px;
}

.elipse_12 {
    width: 25px;
    height: 25px;
    background: #FD6931;
    margin-left: auto;
    margin-top: 4px;
    margin-right: 340px;
}

.elipse_13 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 355px;
}

.elipse_14 {
    width: 2px;
    height: 2px;
    background: #FFFFFF;
    margin-left: auto;
    margin-top: 40px;
    margin-right: 230px;
}

.elipse_15 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    margin-left: auto;
    margin-top: 60px;
    margin-right: 160px;
}

.elipse_16 {
    width: 50px;
    height: 50px;
    background: #FD6931;
    margin-left: auto;
    margin-top: -10px;
    margin-right: 295px;
}

.elipse_17 {
    position: relative;
    width: 30px;
    height: 30px;
    background: #3991EE;
    margin-left: auto;
    margin-top: -51px;
    margin-right: 50px;
    z-index: 20;
}

.elipse_18 {
    width: 50px;
    height: 50px;
    background: #FD6931;
    margin-left: auto;
    margin-top: -8px;
    margin-right: 60px;
}

.vector_2 {
    width: 1px;
    height: 92px;
    background: linear-gradient(197deg, #1A4CAB -3.4%, #FD6931 71.6%);
    transform: rotate(12deg);
    margin-left: auto;
    margin-right: 74px;
    margin-top: -14px;
}

.vector_3 {
    width: 1px;
    height: 104px;
    background: linear-gradient(197deg, #1A4CAB 34.6%, #fd69318a 94.6%);
    transform: rotate(60deg);
    margin-left: auto;
    margin-right: 31px;
    margin-top: -94px;
}

.elipse_19 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    margin-left: auto;
    margin-top: -50px;
    margin-right: 440px;
}

.section-1 h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
    width: 100%;
}

.project-card {
    margin-top: 90px;
    position: relative;
}

.project-card img {
    width: 594px;
    height: 490px;
    border-radius: 20px;
}

.col-block {
    margin-left: 40px;
}
.col-block a{
    width: fit-content;
}
.col-block h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 4%;
    text-transform: uppercase;
}

.col-block p {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #FFFFFF59;
    margin-top: 20px;
    width: 85%;
}

.col-block>.category {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    margin-top: 20px;
}

.col-block button {
    margin-right: auto;
    margin-top: 50px;
    background: #FD6931;
    width: 200px;
    height: 43px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-block button>img {
    width: 24px;
    height: 24px;
}

.btn-project-2 {
    background: #fd693100 !important;
    border: 1px solid #E3E4E68C;
}

.block-elipse {
    position: relative;
    width: 100%;
}

.elipse_20 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    position: absolute;
    right: 230px;
    bottom: 60px;
}

.elipse_21 {
    width: 50px;
    height: 50px;
    background: #FD6931;
    position: absolute;
    bottom: -40px;
    left: 680px;
}

.elipse_22 {
    width: 25px;
    height: 25px;
    background: #3991EE;
    position: absolute;
    bottom: -16px;
    right: 380px;
}

.elipse_23 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    position: absolute;
    left: 500px;
    bottom: 30px;
}

.elipse_24 {
    width: 15px;
    height: 15px;
    background: #FD6931;
    position: absolute;
    left: 97px;
    bottom: 0;
    z-index: 20;
}

.elipse_25 {
    width: 25px;
    height: 25px;
    background: #FD6931;
    position: absolute;
    left: 165px;
    bottom: -70px;
}

.vector_4 {
    position: absolute;
    width: 1px;
    height: 100px;
    background: linear-gradient(344.49deg, #1A4CAB -3.4%, #FD6931 71.6%);
    transform: rotate(131deg);
    left: 143px;
    bottom: -78px;
    z-index: 10;
}

.elipse_26 {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 660px;
}

.elipse_27 {
    width: 25px;
    height: 25px;
    background: #FD6931;
    position: absolute;
    top: -10px;
    right: 350px;
}

.elipse_28 {
    width: 25px;
    height: 25px;
    background: #3991EE;
    position: absolute;
    top: 20px;
    right: 220px;
}

.elipse_29 {
    width: 25px;
    height: 25px;
    background: #FD6931;

    position: absolute;
    bottom: -75px;
    left: 440px;
}

.footer {
    margin-top: 40px;
}

.hr-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .text-content h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 2px;
        text-align: center;
        vertical-align: middle;
    }

    .vector_1 {
        display: none;
    }

    .vector_2 {
        display: none;
    }

    .vector_3 {
        display: none;
    }

    .vector_4 {
        display: none;
    }

    .elipse_1 {
        right: 169px !important;
        margin-top: 30px !important;
    }

    .elipse_2 {
        left: 40px;
        margin-top: 60px !important;
        margin-left: 0;
    }

    .bg-elipse-left {
        overflow: hidden;
    }

    .elipse_3 {
        width: 40px;
        height: 40px;
        top: 2rem !important;
        background: #3991EE;
        position: absolute;
        margin-left: 0 !important;
    }

    .elipse_4 {
        width: 10px !important;
        height: 10px !important;
        background: #FD6931 !important;
        margin-right: 27px !important;
        margin-left: auto;
        margin-top: 125px;
    }

    .elipse_5 {
        width: 25px !important;
        height: 25px !important;
        background: #3991EE !important;
        margin-right: -12px;
        margin-left: auto;
        margin-top: 68px;
    }

    .elipse_6 {
        display: none;
    }

    .elipse_7 {
        display: none;
    }

    .elipse_8 {
        display: none;
    }

    .elipse_9 {
        display: none;
    }

    .elipse_10 {
        display: none;
    }

    .elipse_11 {
        display: none;
    }

    .elipse_12 {
        display: none;
    }

    .elipse_13 {
        display: none;
    }

    .elipse_14 {
        display: none;
    }

    .elipse_15 {
        display: none;
    }

    .elipse_16 {
        display: none;
    }

    .elipse_17 {
        display: none;
    }

    .elipse_18 {
        display: none;
    }

    .elipse_19 {
        display: none;
    }

    .elipse_20 {
        display: none;
    }

    .elipse_21 {
        display: none;
    }

    .elipse_22 {
        display: none;
    }

    .elipse_23 {
        display: none;
    }

    .elipse_24 {
        display: none;
    }

    .elipse_25 {
        display: none;
    }

    .elipse_26 {
        display: none;
    }

    .elipse_27 {
        display: none;
    }

    .elipse_28 {
        display: none;
    }

    .elipse_29 {
        display: none;
    }

    .home-container {
        background-image: none;
        height: 230px;
    }

    .text-content p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        vertical-align: middle;
        width: 80%;
        margin-top: 21px;
    }

    .home-container img {
        display: none;
    }

    .section-1 h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0%;

    }

    .project-card {
        margin-top: 25px;
        position: relative;
        flex-direction: column;
        align-items: anchor-center;
    }

    .footer {
        width: 100%;
    }

    .project-card img {
        width: 363px;
        height: 264px;
    }

    .col-block h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 2px;
        margin-top: 15px;
        text-transform: uppercase;
    }

    .col-block {
        margin-left: 0;
        text-align: center;
        align-items: anchor-center;
    }

    .col-block p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        color: #FFFFFFBF;
        margin-top: 15px;
    }

    .col-block>.category {
        display: none;
    }

    .col-block button {
        margin-left: auto;
        margin-top: 20px;
    }

    .btn-project-2 {
        background: #FD6931 !important;
        border: 0px solid #E3E4E68C;
    }

    .hr-mobile {
        display: block;
        margin-top: 40px;
        margin-bottom: 30px;
        border: 1px solid #767676;
        width: 100%;
    }

    .text-content {
        width: 100%;
    }

    .section-1 {
        padding-right: 14px;
        padding-left: 14px;
    }
}

@media screen and (max-width: 992px) and (min-width: 601px) {
    .text-content h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 2px;
        text-align: center;
        vertical-align: middle;
    }

    .vector_1 {
        display: none;
    }

    .vector_2 {
        display: none;
    }

    .vector_3 {
        display: none;
    }

    .vector_4 {
        display: none;
    }


    .elipse_1 {
        margin-left: 143px;
        margin-top: 65px;
    }

    .elipse_2 {
        width: 5px;
        height: 5px;
        background: #FFFFFF;
        margin-left: 240px;
        margin-top: -15px;
    }

    .elipse_3 {
        display: none;
    }

    .elipse_4 {
        margin-left: 71px;
    }

    .elipse_5 {
        margin-top: 34px;
        margin-left: 66px;
    }

    .elipse_7 {
        margin-top: 64px;
        margin-left: 32px;
    }

    .elipse_8 {
        display: none;
    }

    .elipse_9 {
        display: none;
    }


    .elipse_10 {
        margin-top: 54px;
        margin-right: 160px;
    }

    .elipse_11 {
        margin-right: 60px;
    }

    .elipse_12 {
        margin-top: 15px;
        margin-right: 101px;
    }

    .elipse_13 {
        margin-top: 14px;
        margin-right: 125px;
    }

    .elipse_15 {
        display: none;
    }

    .elipse_14 {
        margin-top: 26px;
        margin-right: 47px;
    }

    .elipse_16 {
        width: 40px;
        height: 40px;
        background: #FD6931;
        margin-left: auto;
        margin-top: 37px;
        margin-right: 57px;
    }

    .elipse_17 {
        display: none;
    }

    .elipse_18 {
        display: none;
    }

    .elipse_19 {
        width: 5px;
        height: 5px;
        background: #FFFFFF;
        margin-left: auto;
        margin-top: 32px;
        margin-right: 190px;
    }

    .elipse_20 {
        display: none;
    }

    .elipse_21 {
        display: none;
    }

    .elipse_22 {
        display: none;
    }

    .elipse_23 {
        display: none;
    }

    .elipse_24 {
        display: none;
    }

    .elipse_25 {
        display: none;
    }

    .elipse_26 {
        display: none;
    }

    .elipse_27 {
        display: none;
    }

    .elipse_28 {
        display: none;
    }

    .elipse_29 {
        display: none;
    }

    .home-container {
        height: 345px;
    }

    .text-content p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        vertical-align: middle;
        width: 70%;
        margin-top: 12px;
    }

    .home-container img {
        margin-top: 60px;
    }

    .section-1 h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0%;

    }

    .project-card {
        margin-top: 25px;
        position: relative;
        flex-direction: column;
        align-items: anchor-center;
    }

    .footer {
        width: 100%;
    }

    .project-card img {
        width: 363px;
        height: 264px;
    }

    .col-block h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 2px;
        margin-top: 15px;
        text-transform: uppercase;
    }

    .col-block {
        margin-left: 0;
        text-align: center;
        align-items: anchor-center;
    }

    .col-block p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
        width: 65%;
        color: #FFFFFFBF;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .col-block>.category {
        display: none;
    }

    .col-block button {
        margin-left: auto;
        margin-top: 20px;
    }

    .btn-project-2 {
        background: #FD6931 !important;
        border: 0px solid #E3E4E68C;
    }

    .hr-mobile {
        display: block;
        margin-top: 40px;
        margin-bottom: 30px;
        border: 1px solid #767676;
        width: 100%;
    }

    .text-content {
        width: 100%;
        margin-top: auto;
    }

    .section-1 {
        padding-right: 35px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 1250px) and (min-width: 992px) {
    .elipse_2 {
        display: none;
    }

    .elipse_5 {
        margin-left: 205px;
    }

    .elipse_1 {
        margin-left: 265px;
    }

    .elipse_3 {
        margin-left: 303px;
    }

    .elipse_9 {
        margin-left: 265px;
    }

    .elipse_4 {
        margin-left: 143px;
    }

    .elipse_7 {
        margin-left: 121px;
    }

    .vector_1 {
        left: 119px;
    }

    .elipse_8 {
        margin-left: 99px;
    }

    .elipse_11 {
        margin-right: 150px;
    }

    .elipse_12 {
        margin-right: 235px;
    }

    .elipse_13 {
        margin-right: 264px;
    }

    .elipse_14 {
        margin-right: 190px;
    }

    .elipse_15 {
        margin-right: 112px;
    }

    .elipse_16 {
        margin-right: 170px;
    }

    .section-1 {
        padding-right: 50px;
        padding-left: 50px;
    }

    .col-block p {
        width: 100%;
    }
    .col-block p {
        width: 100%;
        font-size: 16px;
    }
    .col-block button {
        margin-top: 25px;
        margin-bottom: 22px;
    }
    .elipse_20 {
        right: 45px;
        bottom: 42px;
    }

    .elipse_22 {
        bottom: -16px;
        right: 135px;
    }

    .elipse_21 {
        bottom: -56px;
        left: 641px;
    }

    .elipse_23 {
        display: none;
    }

    .elipse_27 {
        right: 186px;
        top: -20px;
    }

    .elipse_28 {
        right: 80px;
    }
    .project-card img{
        width: 42%;
    height: auto ;
    }
    .elipse_25 {
        width: 25px;
        height: 25px;
        background: #FD6931;
        position: absolute;
        left: 165px;
        bottom: -86px;
    }
    .vector_4 {
        position: absolute;
        width: 1px;
        height: 100px;
        background: linear-gradient(344.49deg, #1A4CAB -3.4%, #FD6931 71.6%);
        transform: rotate(131deg);
        left: 143px;
        bottom: -97px;
        z-index: 10;
    }
    .elipse_24 {
        width: 15px;
        height: 15px;
        background: #FD6931;
        position: absolute;
        left: 97px;
        bottom: -24px;
        z-index: 20;
    }
    .col-block h1 {
        font-size: 22px;
    }
}